body {
  background-image: url(http://i.imgur.com/iVVJaZe.jpg);
  background-size: cover;
}

#blurs {
  display:block;
      background-color: white;
      position: absolute; top: 0; left: 0; height: 100%; width: 100%;
      opacity: 0.5;

             -webkit-filter: blur(200px);
    -moz-filter: blur(105px);
    -o-filter: blur(105px);
    -ms-filter: blur(0105px);
    filter: blur(105px);
 

}

ul {
  background-color: rgba(255, 255, 255, 0.5); 
  width: 20%;

}
